---
layout: archive
title: "Programming & Algorithms"
permalink: /teaching/
author_profile: true
---
<b> Featured Python Project </b>
<iframe height="400px" width="100%" src="https://repl.it/@aschenk/guessingGame?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>

<b> Other Python Projects </b>
<a href="https://repl.it/@aschenk/BasicChatBot">Basic ChatBot</a>
<a href="https://repl.it/@aschenk/SchenkFunnySentences">MadLibs</a>
<a href="https://repl.it/@aschenk/The-Fabric-Question">Using Modulus: The Fabric Question</a>
<!-- <a href="url">link text</a>
<a href="url">link text</a> -->
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
